.login-page {
  align-items: center;
  justify-content: center;
}

.login-page__title {
  text-align: center;
}

.login-page__buttons {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.login-page__button-container {
  display: flex;
  button {
    flex-grow: 1;
  }
}
