.edit-profile-page {
  background-color: #eff1f7;
  align-items: center;
  justify-content: center;
}

.edit-profile-page__content-wrapper {
  background-color: white;
  width: 600px;
}

.edit-profile-page__form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-profile-page__avatar {
  cursor: pointer;
}

.edit-profile-page__avatar-input {
  display: none;
}

.edit-profile-page__inputs {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.edit-profile-page__buttons {
  display: flex;
}

.edit-profile-page__buttons-gap {
  margin: 0 16px;
}

.icon-upload {
  background-image: url("./pages/edit-profile/upload.svg");
}
