@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

.message {
  display: flex;
  align-items: flex-end;
  padding-left: 20px;
}

.message__bubble {
  position: relative;
  background: white;
  border-radius: 10px;
  max-width: 50%;
  max-width: min(50%, 350px);
  display: inline-block;
  padding: 8px 16px;
}

.message__bubble:after {
  content: "";
  position: absolute;
  left: 7px;
  bottom: 5px;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-bottom-left-radius: 8px;
  border-right-color: white;
  border-left: 0;
  border-bottom: 0;
  margin-top: -9px;
  margin-left: -18px;
  transform: skewY(-30deg);
}

.message__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 19px;
}

.message-image .message__bubble {
  flex-grow: 1;
}

.message__image {
  cursor: pointer;
  height: 200px;
  background: transparent no-repeat center / cover;
}

@media screen and (max-width: 1200px) {
  .message-right {
    padding-left: unset;
    padding-right: 20px;
  }

  .message-right .message__bubble:after {
    left: unset;
    right: 7px;
    border: 18px solid transparent;
    border-radius: 0 0 8px 0;
    border-left-color: white;
    border-right: 0;
    border-bottom: 0;
    margin-right: -18px;
    transform: skewY(30deg);
  }
}
