.sign-up-page {
  align-items: center;
  justify-content: center;
}

.sign-up-page__title {
  text-align: center;
}

.sign-up-page__buttons {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}
