.chats-page {
  align-items: stretch;
  --color-chat-list-bg: #f4f6f9;
  --color-chat-bg: #eff1f7;
  --color-chat-bg-item: #e6e9ef;
}

.chats-page__left-menu {
  width: 350px;
  background-color: var(--color-chat-list-bg);
}

.chats-page__chat {
  flex-grow: 1;
  background-color: var(--color-chat-bg);
}

.chats-page__chat .divider {
  background-color: var(--color-chat-bg-item);
}

@media screen and (max-width: 750px) {
  .chats-page__left-menu,
  .chats-page__chat {
    display: none;
    width: 100%;
  }

  .prefer-menu .chats-page__left-menu {
    display: block;
  }

  .prefer-chat .chats-page__chat {
    display: block;
  }
}
