.icon-button {
  width: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $COLOR_INPUT_BORDER;

  &:hover {
    background-color: $COLOR_ITEM_ACTIVE;
  }
}

.icon-button__icon {
  width: 24px;
  height: 24px;
  background: transparent no-repeat center / contain;
}
