.text-field-with-icon {
  display: flex;
  align-items: center;
  border: 1px solid $COLOR_INPUT_BORDER;
  border-radius: 20px;
  height: 40px;
}

.text-field-with-icon__input {
  background-color: transparent;
  margin-left: 16px;
  flex-grow: 1;
  color: $COLOR_TEXT_PRIMARY;

  &::placeholder {
    color: $COLOR_INPUT_BORDER;
  }
}

.text-field-with-icon__icon-container {
  cursor: pointer;
  margin: 0 8px 0 8px;
  height: 36px;
  width: 36px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $COLOR_ITEM_ACTIVE;
  }

  &:active {
    transform: scale(0.95);
  }
}

.text-field-with-icon__icon {
  height: 24px;
  width: 24px;
  background: transparent no-repeat center / contain;
}
