.badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge-parent {
  position: relative;
}

.badge-top-right {
  top: -3px;
  right: -3px;
}

.badge-danger-circle {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  font-size: 10px;
  color: $COLOR_DANGER_CONTRAST;
  background-color: $COLOR_DANGER;
}
