$COLOR_MY_MESSAGE: #081832;
$COLOR_MY_MESSAGE_CONTRAST: #fff;
$COLOR_OTHER_MESSAGE: #fff;
$COLOR_OTHER_MESSAGE_BORDER: $COLOR_INPUT_BORDER;
$COLOR_OTHER_MESSAGE_CONTRAST: $COLOR_TEXT_PRIMARY;
$COLOR_MESSAGE_DATE: #dadada;

.message-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 24px;
}

.message-list li {
  margin-top: 8px;
  position: relative;
}

.message-list li:first-child {
  margin-top: unset;
}

.message-list .avatar {
  position: absolute;
  bottom: 0;
}

.message-list .message,
.message-list .message-footer {
  margin-left: 30px;
}

.message-container-my .message__bubble {
  background: $COLOR_MY_MESSAGE;

  &::after {
    border-right-color: $COLOR_MY_MESSAGE;
  }
}

.message-container-my .message__text {
  color: $COLOR_MY_MESSAGE_CONTRAST;
}

.message-container-other .message__bubble {
  background: $COLOR_OTHER_MESSAGE;

  &::after {
    border-right-color: $COLOR_OTHER_MESSAGE;
  }
}

.message-container-other .message__text {
  color: $COLOR_OTHER_MESSAGE_CONTRAST;
}

.message-container-my .message-footer .right,
.message-container-other .message-footer .left {
  display: none;
}

.message-list__date {
  color: $COLOR_MESSAGE_DATE;
}

.message-list__date__text {
  font-size: 16px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .message-container-other .message,
  .message-container-other .message-footer {
    justify-content: flex-end;
    margin-left: unset;
    margin-right: 30px;
  }

  .message-container-other .avatar {
    right: 0;
  }
}
