.user-info {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 48px;
}

.user-info:hover {
  background-color: $COLOR_ITEM_ACTIVE;
}

.user-info__name {
  flex-grow: 1;
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
}
