$COLOR_PRIMARY: #01b6f5;
$COLOR_PRIMARY_DARK: #00a3dc;
$COLOR_PRIMARY_CONTRAST: #fff;
$COLOR_DANGER: #fe4849;
$COLOR_DANGER_DARK: #e44041;
$COLOR_DANGER_CONTRAST: #fff;
$COLOR_TEXT_PRIMARY: #061c3f;
$COLOR_TEXT_SECONDARY: #576574;
$COLOR_TEXT_TRETIARY: #a4a7b5;
$COLOR_SHADOW: #d7d9e2;
$COLOR_INPUT_LABEL: #3f4954;
$COLOR_INPUT_BORDER: #a4a7b5;
$COLOR_CHAT_CONTROL_BORDER: #e3e5ed;
$COLOR_ITEM_ACTIVE: #eceef6;
$COLOR_MODAL_BACKGROUND: rgba(0, 0, 0, 0.75);
