.text-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-field__label {
  font-size: 14px;
  line-height: 1.5;
  color: $COLOR_INPUT_LABEL;
}

.text-field__required-mark {
  display: none;
  color: $COLOR_DANGER;
}

.text-field__input {
  align-self: stretch;
  height: 40px;
  line-height: 40px;
  background-color: transparent;
  border: 1px solid $COLOR_INPUT_BORDER;
  border-radius: 20px;
  padding: 0 16px;
  color: $COLOR_TEXT_PRIMARY;

  &::placeholder {
    color: $COLOR_INPUT_BORDER;
  }

  &:focus,
  &:active {
    padding: 0 15px;
    border: 2px solid $COLOR_PRIMARY;
    box-shadow: $COLOR_PRIMARY 0 0 2px;
  }
}

.text-field__error-text {
  display: none;
  color: $COLOR_DANGER;
  font-size: 12px;
  margin-top: 8px;
  text-align: center;
}

.text-field_required {
  .text-field__required-mark {
    display: inline;
  }
}

.text-field_error {
  input {
    border-color: $COLOR_DANGER;

    &:focus,
    &:active {
      border-color: $COLOR_DANGER;
      box-shadow: $COLOR_DANGER 0 0 2px;
    }
  }

  .text-field__error-text {
    display: block;
  }
}
